<launch>
  <!-- planner -->
  <param name="/compute_features/max_msg_age" value="0.1" type="double"/>
  
  <param name="/compute_features/feature_type" value="helbing"/>
  <param name="/compute_features/feature_params" value="{ 'radius': 2}"/>
  <param name="/compute_features/weights" value="[0.23, 0.33, 0.43, 0.01]"/>

  <!-- grid dimension -->
  <param name="/compute_features/cell_size" value="1.0" type="double"/>
  <param name="/compute_features/x1" value="-20.0" type="double"/>
  <param name="/compute_features/y1" value="-10.0" type="double"/>
  <param name="/compute_features/x2" value="100.0" type="double"/>
  <param name="/compute_features/y2" value="10.0" type="double"/>

  <param name="/compute_features/speed" value="2.8" type="double"/>

  <node name="compute_features" pkg="belly" type="irl_features.py" />
</launch>
